<mat-card>
  <mat-card-title>User Information</mat-card-title>
  <div class="content" role="main">
    <button mat-stroked-button (click)="retrieveUserInformation()">Fetch</button>
  </div>
  <mat-card-content>
    <form novalidate [formGroup]="form">

      <div>
        <img src="assets/empty.png" default="assets/empty.png"
             alt="profile picture">
      </div>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="First Name"
               formControlName="firstName">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Last Name"
               formControlName="lastName">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Language"
               formControlName="defaultLanguage">
      </mat-form-field>
      <br>
    </form>
  </mat-card-content>
</mat-card>
